.todo-item {
  width: 70%;
  margin: 10px auto;
  padding: 10px 20px 10px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.todo-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.todo-title {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #343a40;
}

.todo-description {
  font-size: 1rem;
  color: #6c757d;
  margin-top: 10px;

}

.todo-due-date {
  font-size: 0.9rem;
  color: #495057;
}
